

    #miku {
      width: 400px;
      height: auto;
      transition: filter 0.5s ease, transform 0.5s ease;
      filter: saturate(0%);
      position: relative;
      z-index: 1;
    }

    #miku:hover {
      filter: saturate(150%);
      transform: scale(1.05);
    }
